<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
